body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    padding-bottom: 20px;
    display: flex;
}

.top1{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1{
    font-size: 50px;
}

h1 span{
    color: orange;
}

.half-width img{
    width: 80%;
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

p{
    color: dimgray;
}



.top2{
    background-image: url("images/illustrators/illustrator-1.png");
    background-repeat: no-repeat;
}

.third-width{
    width: 30%;
    padding-left: 10px;
}








footer p{
    text-align: center;
}







/* Create three equal columns that floats next to each other */

.column {
  float: right;
  width: 30.33%;
  padding-top: 80px;
  height: 500px;
  background-size: 40px;
  background-repeat: no-repeat;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}