body{
    margin: 5%;
    font-family: 'Poppins', calibri;
}

section{
    display: flex;
    margin-bottom: 100px;
}

.top1{
    background-image: url("images/shapes/shape-6.png");
    background-repeat: no-repeat;
}

.half-width{
    width:40%;
    margin-left: 5px;
    padding-left: 2%;
}

h1{
    font-size: 50px;
}

h1 span{
    color: orange;
}

.half-width img{
    width: 80%;
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

p{
    color: dimgray;
}


.top3{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left;
}

.top4{
    background-image: url("images/shapes/shape-5.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

.top5{
    background-image: url("images/shapes/shape-7.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;
}


.third-width{
    width: 30%;
    padding-left: 10px;
    background-image: url(//images/illustrators/illustrator-1.png);
    text-align: justify;
    margin-right: 5%;


}


img {
    border-end-end-radius: 30;
    border-radius: 20%;
    object-fit:contain;
    width:800px;
    height:300px;
    border: solid 1px #CCC";
  }


  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }